body {
  font-size: 12px;
}
h2 {
  font-size: 2.2em;
  display: block;
  padding: .3em;
  width: 80%;
h3 {
  font-size: 1.5em;
  display: block;
  padding: .3em;
  width: 80%;
}
.image-set {
  width: 100%;   
}
.image {
  width: 150px;
  height: auto;
}
.image-item {
  float: left;
  list-style: none outside none;
  margin: .3em;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px;
}
#topmenu {
  width: 100%
  max-height: 200px;
}
#topmenu ul li {
  float: left;
}
